* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
html, body {
    overflow: hidden;
}
html, body, #app {
    height: 100vh;
}

#app {
    width: 100vw;
}

:root {
    --header-height: 55px;
}

@font-face {
    font-family: "Monocraft";
    src: url("/assets/font/Monocraft.otf");
}